@model StudentFormViewModel

@{
    ViewData["Title"] = "Add Student";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">

            <div class="row">
                <div class="col">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" placeholder="First Name...">
                    <span asp-validation-for="FirstName" class="small text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="MiddleName"></label>
                    <input asp-for="MiddleName" class="form-control" placeholder="Middle Name...">
                    <span asp-validation-for="MiddleName" class="small text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" placeholder="Last Name...">
                    <span asp-validation-for="LastName" class="small text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label asp-for="PersonalId"></label>
                    <input asp-for="PersonalId" class="form-control" placeholder="Personal Identification Number...">
                    <span asp-validation-for="PersonalId" class="small text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" placeholder="Email...">
                    <span asp-validation-for="Email" class="small text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="ContactDetails"></label>
                <textarea asp-for="ContactDetails" rows="4" class="form-control" placeholder="Gsm,Address..."></textarea>
                <span asp-validation-for="ContactDetails" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth"></label>
                <input asp-for="DateOfBirth" type="date" class="form-control">
                <span asp-validation-for="DateOfBirth" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassId"></label>
                <select asp-for="ClassId" class="form-control">
                    @foreach (var classs in Model.Classes)
                    {
                        <option value="@classs.Id">@classs.Name</option>
                    }
                </select>
                <span asp-validation-for="ClassId" class="small text-danger"></span>
            </div>

            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
