@{
    ViewData["Title"] = "Admin";
}
<h2>User Management</h2>

<a class="btn btn-secondary btn-lg" asp-action="CreateStudent">Create Student</a>
<a class="btn btn-secondary btn-lg" asp-action="CreateTeacher">Create Teacher</a>
<a class="btn btn-secondary btn-lg" asp-action="CreateCourse">Create Course</a>