@{
    ViewData["Title"] = "Admin";
}
<h2>User Management</h2>

<a class="btn btn-secondary btn-lg" asp-action="Create">Create Student</a>
<a class="btn btn-secondary btn-lg" asp-action="Create">Create Teacher</a>
<a class="btn btn-secondary btn-lg" asp-action="Create">Create Course</a>