services:
  # Web Application
  - type: web
    name: student-management-system
    env: docker
    plan: free
    region: frankfurt
    branch: master
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: ASPNETCORE_URLS
        value: http://+:10000
