@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Web Score</h1>
    <p class="lead">Your one-stop solution for managing student information efficiently.</p>
    <a class="btn btn-secondary btn-lg" href="/Identity/Account/Register" role="button">Get Started</a>
</div>
