@{
    ViewData["Title"] = "Admin";
}

<h2 class="text-center my-4">User Management</h2>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-3">
        <!-- Create and Edit Cards -->
        <div class="col pb-3">
            <div class="card text-white bg-primary mb-3 shadow-lg h-100">
                <div class="card-header"><strong style="font-size: 1.25rem;">Student</strong></div>
                <div class="card-body d-flex flex-column">
                    <a class="btn btn-light btn-lg w-100 mb-2" asp-controller="AdminStudent" asp-action="CreateStudent">Create Student</a>
                    <a class="btn btn-dark btn-lg w-100 mb-2" asp-controller="AdminStudent" asp-action="AllStudents">Edit Student</a>
                </div>
            </div>
        </div>
        <div class="col pb-3">
            <div class="card text-white bg-secondary mb-3 shadow-lg h-100">
                <div class="card-header"><strong style="font-size: 1.25rem;">Teacher</strong></div>
                <div class="card-body d-flex flex-column">
                    <a class="btn btn-light btn-lg w-100 mb-2" asp-controller="AdminTeacher" asp-action="CreateTeacher">Create Teacher</a>
                    <a class="btn btn-dark btn-lg w-100 mb-2" asp-controller="AdminTeacher" asp-action="AllTeachers">Edit Teacher</a>
                </div>
            </div>
        </div>
        <div class="col pb-3">
            <div class="card text-white bg-primary mb-3 shadow-lg h-100">
                <div class="card-header"><strong style="font-size: 1.25rem;">Course</strong></div>
                <div class="card-body d-flex flex-column">
                    <a class="btn btn-light btn-lg w-100 mb-2" asp-controller="AdminCourse" asp-action="CreateCourse">Create Course</a>
                    <a class="btn btn-dark btn-lg w-100 mb-2" asp-controller="AdminCourse" asp-action="AllCourses">Edit Course</a>
                </div>
            </div>
        </div>
        <div class="col pb-3">
            <div class="card text-white bg-secondary mb-3 shadow-lg h-100">
                <div class="card-header"><strong style="font-size: 1.25rem;">Class</strong></div>
                <div class="card-body d-flex flex-column">
                    <a class="btn btn-light btn-lg w-100 mb-2" asp-controller="AdminClass" asp-action="CreateClass">Create Class</a>
                    <a class="btn btn-dark btn-lg w-100 mb-2" asp-controller="AdminClass" asp-action="AllClasses">Edit Class</a>
                    <a class="btn btn-light btn-lg w-100 mb-2" asp-controller="AdminSchedule" asp-action="Add">Create Schedule</a>
                    <a class="btn btn-dark btn-lg w-100 mb-2" asp-controller="AdminSchedule" asp-action="Index">Edit Schedule</a>
                </div>
            </div>
        </div>
        <div class="col pb-3">
            <div class="card text-white bg-primary mb-3 shadow-lg h-100">
                <div class="card-header"><strong style="font-size: 1.25rem;">Roles</strong></div>
                <div class="card-body d-flex flex-column">
                    <a class="btn btn-light btn-lg w-100 mb-2" asp-controller="AdminUserManage" asp-action="CreateRole">Create Role</a>
                    <a class="btn btn-dark btn-lg w-100 mb-2" asp-controller="AdminUserManage" asp-action="AddUserToRole">Add User To Role</a>
                    <a class="btn btn-dark btn-lg w-100 mb-2" asp-controller="AdminUserManage" asp-action="RemoveUserFromRole">Remove User From Role</a>
                    <a class="btn btn-dark btn-lg w-100 mb-2" asp-controller="AdminUserManage" asp-action="EditRole">Edit Role</a>
                </div>
            </div>
        </div>
    </div>
</div>
